.app {
  --app-header-height: 64px;
}

.app-header {
  position: sticky;
  top: 0;
  height: var(--app-header-height);
  z-index: 999;
  display: flex;
  align-items: center;
}

.app-header .left {
  flex: 1 1 auto;
  background: transparent;
}

.app-content .display {
  min-height: calc(100vh - var(--app-header-height));
  padding: 20px;
}

.app-footer {
  text-align: center;
}

.cherry-markdown {
  word-break: normal !important;
}

#cherry-editor .cherry-dropdown[name="insert"] {
  width: 180px;
}

#cherry-viewer .cherry {
  box-shadow: none !important;
  background: transparent !important;
}

#cherry-viewer .cherry-previewer {
  border: none !important;
  background: transparent !important;
  padding: 0 16px !important;
}
