.app {
  --app-header-height: 64px;
}

.app-header {
  position: sticky;
  top: 0;
  height: var(--app-header-height);
  z-index: 999;
  display: flex;
  align-items: center;
}

.app-header .left {
  flex: 1 1 auto;
  background: transparent;
}

.app-content .display {
  min-height: calc(100vh - var(--app-header-height));
  padding: 24px;
}

.app-footer {
  text-align: center;
}

.cherry-markdown {
  word-break: normal !important;
}
