.loginContainer {
  height: 480px;
}

.loginForm {
  max-width: 320px;
  padding: 16px;
}

.loginForm .formItem {
  margin-bottom: 12px;
}

.loginForm .buttonContainer {
  padding-top: 24px;
  margin-bottom: 0;
}

.prompt {
  margin-top: 24px;
  color: darkgray;
}

.prompt p, ul {
  margin: 8px 0;
}

.prompt ul {
  padding-inline-start: 24px;
}
