.layout {
  --app-header-height: 64px;
}

.content .display {
  min-height: calc(100vh - var(--app-header-height));
  padding: 20px;
}

.content .display [id] {
  scroll-margin-top: var(--app-header-height);
}
