.contentWrapper {
  --title-container-height: 56px;
}

.titleContainer {
  height: var(--title-container-height);
  position: relative;
  z-index: 99;
  background: white;
  padding: 0 20px;
}

.titleInput {
  font-size: 18px;
}

.cherryEditor {
  height: calc(100vh - var(--title-container-height)) !important;
}

.backButton {
  font-size: 18px;
  padding: 0;
}

.backButtonIcon {
  font-size: 16px;
}
